# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Environment variables file
.env

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Logs
*.log

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# Other IDEs or editors
.idea/
*.sublime-project
*.sublime-workspace
